option_settings:
  aws:elasticbeanstalk:application:environment:
    RABBITMQ_USER: guest
    RABBITMQ_PASSWORD: guest
    RABBITMQ_HOST: localhost
    RABBITMQ_PORT: 5672
    ENVIRONMENT: mock
    REQUEST_QUEUE: to_gpt_request_queue
    RESPONSE_QUEUE: to_gateway_gpt_response_queue
    GPT_EXCHANGE: gpt_exchange
    GPT_TO_GATEWAY_ROUTING_KEY: gpt_response_routing_key
    GPT_REQUEST_RABBITMQ_ROUTING_KEY: gpt_request_routing_key
    GPT_RESPONSE_RABBITMQ_ROUTING_KEY: gpt_response_routing_key
    TO_GPT_RABBITMQ_REQUEST_QUEUE: to_gpt_request_queue
    TO_GATEWAY_GPT_RABBITMQ_RESPONSE_QUEUE: to_gateway_gpt_response_queue
    RABBITMQ_GPT_EXCHANGE: gpt_exchange

