.home-image {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.description-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-text {
  max-width: 600px; /* Set the maximum width of the text */
  text-align: center;
  font-size: 17px;
  font-family: "Overpass", sans-serif;
  color: #fff;
}

.description-text-keyword {
  color: #ff63c3;
  font-weight: bold;
}

.homepage-container {
  background-color: #202023;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.homepage-title {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #201f24;
  font-family: "Overpass", sans-serif;
  border-radius: 7px; /* Set the border radius to create rounded edges */
  font-size: 50px;
  font-weight: bolder;
}
.homepage-subtitle {
  background-color: #363638;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  border-radius: 7px; /* Set the border radius to create rounded edges */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Overpass", sans-serif;
  font-size: larger;
}

/* styles/HomePage.css */
body {
  margin: 0;
  padding: 0;
  background-color: #202023; /* Replace this with your desired background color */
}

.Container {
  padding-top: 30px;
  display: flex;
  gap: 10px;
  width: 60%;
}

.Prompt {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 7px;
  border: transparent;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

.Prompt-input {
  background-color: #363638;
  font-family: "Overpass", sans-serif;
  border-radius: 7px;
  border: transparent;
  width: 80%;
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  outline: none;
  box-sizing: border-box;
}

.login-Button-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.Prompt-input-submit-button {
  background-color: #81e6d9;
  font-family: "Overpass", sans-serif;
  border-radius: 7px;
  border: transparent;
  width: 50%;
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;
  color: #202023;
  outline: none;
  box-sizing: border-box;
  font-weight: bolder;
}
