.NavContainer {
    background-color: 201F24;
    color: #fff;
    padding: 20px;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
}

.NavList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.NavItem {
    padding: 0 10px;
}

.NavLink {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s; 
  
    &:hover {
      background-color: #ff6347; /* Change the background color on hover */
    }
}