.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 9999;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.ReactModal__Content {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  outline: none;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  opacity: 0;
  transform: translateY(-50%) scale(0.7);
  transition: opacity 0.3s, transform 0.3s;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-50%) scale(0.7);
}
