.NavContainer {
  margin-left: 1%;
  margin-right: 1%;
  background-color: #fff;
  color: #1a1a19;
  padding: 20px;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  font-size: 17px;
}

.NavbarAppName {
  font-weight: bolder;
  color: #1a1a19;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ff6347; /* Change the background color on hover */
  }
}

.NavList {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.NavItem {
  padding: 0 10px;
}

.NavLink {
  color: #1a1a19;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ff6347; /* Change the background color on hover */
  }
}

.NavListRight {
  margin-left: auto; /* Push the button to the far right */
}

button {
  padding: 8px;
}

.NavButton {
  background-color: #fff;
  font-family: "Overpass", sans-serif;
  color: #1a1a19;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 20px;
  border-color: transparent;

  &:hover {
    background-color: #ff6347; /* Change the background color on hover */
  }
}
